/**************************#Fonts and Animations********************/
*{
	margin: 0;
	padding: 0;
}

@font-face{
	font-family: interreg;
	src: url(interregular.ttf);
}
@font-face{
	font-family: interbold;
	src: url(interbold.ttf);
}
@font-face{
	font-family: interextrabold;
	src: url(interextrabold.ttf);
}

@keyframes updown1{
	50%{top: 30%;}
	50%{top: 25%}
}
@keyframes updown2{
	50%{top: 40%;}
	50%{top: 30%}
}

@keyframes rotate{
	100%{transform: rotateZ(360deg)}
}

/**************************#Homepage********************************/
.hp_section1{
	width: 100%;
	height: 110vh;
	display: flex;
	align-items: center;
	background-color: black;
}

.hp_mainwrapper{
	width: 900px;
	height: 550px;
	margin: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	border-radius: 20px;
	border: 1px solid rgba(255,255,255,0.2);
	box-shadow: 0px 0px 5px rgba(255,255,255,0.2);
}

.hp_navlinks{
	color: white;
	width: 800px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hp_navlinks h1{
	font-size: 25px;
	font-family: interbold;
}

.hp_navlinks ul li{
	display: inline-block;
	padding: 10px 10px;
	transition: all 0.5s ease;
}

.hp_navlinks ul li:hover{
	transform: translateY(-5px);
}

.hp_navlinks ul li a{
	color: white;
	text-decoration: none;
	font-size: 13px;
	font-family: interbold;
	border-radius: 20px;
	padding: 10px 10px;
	transition: all 0.5s ease;
}

.hp_navlinks ul li a:hover{
	color: black;
	background-color: white;
}

.hp_navlinks #hp_contact{
	color: white;
	text-decoration: none;
	font-size: 13px;
	font-family: interbold;
	border-radius: 20px;
	padding: 10px 10px;
	background-color: #28a99e;
	transition: all 0.5s ease;
}

.hp_navlinks #hp_contact:hover{
	color: black;
	background-color: white;
}

.hp_contentwrapper{
	width: 800px;
	height: 450px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hp_textcontentwrapper{
	width: 380px;
	height: 450px;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hp_text1{
	margin-top: 120px;
}

.hp_text1 h1{
	font-size: 33px;
	font-family: interbold;
}

.hp_text1 p{
	font-size: 12px;
	font-family: interreg;
	padding-top: 20px;
	padding-bottom: 25px;
}

.hp_text1 a{
	color: white;
	text-decoration: none;
	font-size: 10px;
	font-family: interreg;
	border-radius: 20px;
	padding: 10px 10px;
	border: 2px solid #28a99e;
	background-color: transparent;
	transition: all 0.5s ease;
}

.hp_text1 a:hover{
	color: black;
	background-color: white;
	border: 2px solid white;
}

.hp_socmedlinks{
	display: flex;
	gap: 10px;
}

.hp_socmedicons{
	width: 45px;
	height: 45px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.5s ease;
}

.hp_socmedicons:hover{
	transform: translateY(-5px);
}

.hp_socmedicons img{
	width: 100%;
}

.hp_imagecontentwrapper{
	width: 400px;
	height: 450px;
	position: relative;
}

.hp_imagecard1{
	width: 180px;
	height: 220px;
	top: 18%;
	left: 4%;
	z-index: 2;
	position: absolute;
   display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	border: 1px solid rgba(255,255,255,0.2);
	background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.2)), rgba(255,255,255,0.3);
	animation: 2.5s ease infinite running updown1;
	transition: all 0.5s ease;
}

.hp_imagecard1:hover{
	box-shadow: 0px 0px 3px rgba(255,255,255,0.8);
	background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.2)), rgba(255,255,255,0.5);
}

.hp_imagecardcontainer{
	width: 160px;
	height: 200px;
	margin: auto;
}

.hp_imageholder{
	width: 160px;
	height: 140px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
}

.hp_imageholder img{
	width: 100%;
}

.hp_textholder{
	text-align: center;
	margin-top: 10px;
}

.hp_textholder h3{
	color: white;
	text-align: center;
	font-size: 15px;
	font-family: interreg;
	margin-bottom: 8px;
}

.hp_textholder a{
	color: white;
	text-decoration: none;
	font-size: 10px;
	font-family: interreg;
	border-radius: 20px;
	padding: 8px 10px;
	background-color: #28a99e;
}

.hp_imagecard2{
	width: 180px;
	height: 220px;
	top: 38%;
	left: 53%;
	z-index: 2;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	border: 1px solid rgba(255,255,255,0.2);
	background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.2)), rgba(255,255,255,0.3);
	animation: 2.5s ease 1.5s infinite running updown2;
	transition: all 0.5s ease;
}

.hp_imagecard2:hover{
	box-shadow: 0px 0px 3px rgba(255,255,255,0.8);
	background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.2)), rgba(255,255,255,0.5);
}


